$gutter: 2.4rem;

$desktop-contianer-width: 117rem;
$laptop-contianer-width: 97rem;
$tablet-contianer-width: 75rem;
$mobile-contianer-width: 100%;

$desktop-min: 1200px;
$laptop-max: 1199px;
$laptop-min: 992px;
$tablet-max: 991px;
$tablet-min: 768px;
$mobile-max: 767px;
$mobile-min: 0;
