@import '__vars.css';
@import 'mixins/_color-txt.css';

/*
=================================================================================================
# 4 Text Colors
-------------------------------------------------------------------------------------------------
*/

@each $color in red, pink, purple, deep-purple, indigo, blue, light-blue, cyan, teal, green, light-green, lime, yellow, amber, orange, deep-orange{
  @for $i from 1 to 5 {
    @mixin color-text $(color)-lighten-$(i);
  }
  @mixin color-text $color;
  @for $j from 1 to 4 {
    @mixin color-text $(color)-darken-$(j);
  }
  @for $k from 1 to 4 {
    @mixin color-text $(color)-accent-$(k);
  }
}

@each $color in brown, grey, blue-grey{
  @for $i from 1 to 5 {
    @mixin color-text $(color)-lighten-$(i);
  }
  @mixin color-text $color;
  @for $j from 1 to 4 {
    @mixin color-text $(color)-darken-$(j);
  }
}

@each $color in black, white{
  @mixin color-text $color;
}
