@import '__vars.css';

/*
=================================================================================================
# 15 Forms
-------------------------------------------------------------------------------------------------
*/

  ::-webkit-search-decoration{display:none}

  ::-webkit-file-upload-button{
  	padding: 0;
  	border: 0;
  	background: none}

  /*
  =============================================================================================
  # 15.1 Inputs
  ---------------------------------------------------------------------------------------------
  */

    .input-field{
      position: relative;
      margin-top: 1.6rem}

    /*
    =========================================================================================
    # 15.1.1 Inputs and Textareas
    -----------------------------------------------------------------------------------------
    */

      .input-field{
        .input{
          width: 100%;
    			padding: 1.2rem 0;
    			font-size: 1.6rem;
          resize: vertical;
          box-sizing:content-box;
    			border-top: 0; border-right: 0; border-left: 0;
          background:none;
          -webkit-appearance: none;
          &:focus{outline: 0}
        }
      }

  /*
	=============================================================================================
	# 15.4 Selects
	---------------------------------------------------------------------------------------------
	*/

  .input-field{
    .gb{
      position: absolute;
      left: 0; top:0; bottom: 0;
      font-size: 3.2rem}
    .input.select{cursor: pointer}
  }
