/*
=================================================================================================
# 11 Images
-------------------------------------------------------------------------------------------------
*/

	/*
	=============================================================================================
	# 11.1 Responsive
	---------------------------------------------------------------------------------------------
	*/

		img.responsive{
      display: block;
      width: 100%; height: auto}

	/*
  =============================================================================================
  # 11.2 Image Background
  ---------------------------------------------------------------------------------------------
  */

    .img-bg{
      background-position: center;
      background-size: cover}
