/*
=================================================================================================
# 7 Buttons
-------------------------------------------------------------------------------------------------
*/

	button.joqd.button,
	a.joqd.button,
	input[type=submit].joqd.button{
		text-decoration: none;
		text-align: center;
		line-height: 1;
		display: inline-block;
		white-space: nowrap;
		margin: 0px;
		cursor: pointer;
		position: relative;
		vertical-align: middle;
		outline: none !important;
		overflow: hidden;
		-webkit-transition: all 0.2s ease-out;
		   -moz-transition: all 0.2s ease-out;
		     -o-transition: all 0.2s ease-out;
						transition: all 0.2s ease-out;}

	button.joqd.button.disabled,
	button.joqd.button[disabled],
	a.joqd.button.disabled,
	a.joqd.button[disabled]
	input[type=submit].joqd.button.disabled,
	input[type=submit].joqd.button[disabled]{
	    cursor: not-allowed;
	    pointer-events: none;
	    opacity: 0.45;}

	/*
	=============================================================================================
	# 7.1 Sizings
	---------------------------------------------------------------------------------------------
	*/

		/*
		=========================================================================================
		# 7.1.1 Large
		-----------------------------------------------------------------------------------------
		*/

			button.joqd.button.large,
			a.joqd.button.large,
			input[type=submit].joqd.button.large{
				font-size: 18px;
				font-weight: 400;
				line-height: 2.73;
				padding: 0px 48px;}

		/*
		=========================================================================================
		# 7.1.2 Medium
		-----------------------------------------------------------------------------------------
		*/

			button.joqd.button.medium,
			a.joqd.button.medium,
			input[type=submit].joqd.button.medium{
				font-size: 14px;
				font-weight: 400;
				line-height: 2.73;
				padding: 0px 39px;}

		/*
		=========================================================================================
		# 7.1.3 Small
		-----------------------------------------------------------------------------------------
		*/

			button.joqd.button.small,
			a.joqd.button.small,
			input[type=submit].joqd.button.small{
				font-size: 12px;
				font-weight: 400;
				line-height: 2.15;
				padding: 0px 23px;}

		/*
		=========================================================================================
		# 7.1.4 Mini
		-----------------------------------------------------------------------------------------
		*/

			button.joqd.button.mini,
			a.joqd.button.mini,
			input[type=submit].joqd.button.mini{
				font-size: 12px;
				font-weight: 400;
				line-height: 1.65;
				padding: 0px 10px;}

		/*
		=========================================================================================
		# 7.1.5 Full Width
		-----------------------------------------------------------------------------------------
		*/

			button.joqd.button.full-width,
			a.joqd.button.full-width,
			input[type=submit].joqd.button.full-width{
				display: block;
				width: 100%;}

	/*
	=============================================================================================
	# 7.2 Varieties
	---------------------------------------------------------------------------------------------
	*/

		/*
		=========================================================================================
		# 7.2.1 Flat
		-----------------------------------------------------------------------------------------
		*/

			/* There is no custom CSS for flat buttons */

		/*
		=========================================================================================
		# 7.2.2 Raised
		-----------------------------------------------------------------------------------------
		*/

			button.joqd.button.raised,
			a.joqd.button.raised,
			input[type=submit].joqd.button.raised,
			button.joqd.button.raised:focus,
			a.joqd.button.raised:focus,
			input[type=submit].joqd.button.raised:focus{
				top: 0px;
				-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16),
														0 3px 6px rgba(0,0,0,0.23);
		       -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16),
											 			0 3px 6px rgba(0,0,0,0.23);
		            box-shadow: 0 3px 6px rgba(0,0,0,0.16),
		                        0 3px 6px rgba(0,0,0,0.23);}

			button.joqd.button.raised.disabled,
			button.joqd.button[disabled].raised,
			a.joqd.button.disabled.raised,
			a.joqd.button[disabled].raised,
			input[type=submit].joqd.button.disabled.raised,
			input[type=submit].joqd.button[disabled].raised{
				top: 0px !important;
				-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16),
														0 3px 6px rgba(0,0,0,0.23) !important;
		       -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16),
											 			0 3px 6px rgba(0,0,0,0.23) !important;
		            box-shadow: 0 3px 6px rgba(0,0,0,0.16),
		                        0 3px 6px rgba(0,0,0,0.23) !important;}

		/*
		=========================================================================================
		# 7.2.4 Border
		-----------------------------------------------------------------------------------------
		*/

			/* This part is actually covered in borders section (# 8 Borders) */

	/*
	=============================================================================================
	# 7.3 Effects
	---------------------------------------------------------------------------------------------
	*/

		/*
		=========================================================================================
		# 7.3.1 Hover Effects
		-----------------------------------------------------------------------------------------
		*/

			/*
			=====================================================================================
			# 7.3.1.1 Change Color
			-------------------------------------------------------------------------------------
			*/

				/* This part is actually covered in colors section (# 2 Background Colors) */

			/*
			=====================================================================================
			# 7.3.1.2  Lift
			-------------------------------------------------------------------------------------
			*/

				button.joqd.button.raised.lift-hover:hover,
				a.joqd.button.raised.lift-hover:hover,
				input[type=submit].joqd.button.raised.lift-hover:hover{
					top: -1px;
					-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19),
															0 6px 6px rgba(0,0,0,0.23);
			       -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19),
												 			0 6px 6px rgba(0,0,0,0.23);
			            box-shadow: 0 10px 20px rgba(0,0,0,0.19),
			                        0 6px 6px rgba(0,0,0,0.23);}

		/*
		=========================================================================================
		# 7.3.2 Click Effects
		-----------------------------------------------------------------------------------------
		*/

			/*
			=====================================================================================
			# 7.3.2.1 Change Color
			-------------------------------------------------------------------------------------
			*/

				/* This part is actually covered in colors section (# 3 Background Colors) */

			/*
			=====================================================================================
			# 7.3.2.2 Ripple
			-------------------------------------------------------------------------------------
			*/

				.joqd.ripple-effect{
					display: block;
					position: absolute;
					border-radius: 100%;
					-webkit-transform:scale(0);
					   -moz-transform:scale(0);
					     -o-transform:scale(0);
					        transform:scale(0);}

				.joqd.ripple-effect.ripple-effect-lighten{background:rgba(255, 255, 255, 0.3);}

				.joqd.ripple-effect.ripple-effect-darken{background:rgba(0, 0, 0, 0.3);}

				.joqd.ripple-animate{
					-webkit-animation:ripple 0.65s linear;
					   -moz-animation:ripple 0.65s linear;
					    -ms-animation:ripple 0.65s linear;
					     -o-animation:ripple 0.65s linear;
					        animation:ripple 0.65s linear;}

				@-webkit-keyframes ripple{
				    100% {opacity: 0; -webkit-transform: scale(2.5);}
				}
				@-moz-keyframes ripple{
				    100% {opacity: 0; -moz-transform: scale(2.5);}
				}
				@-o-keyframes ripple{
				    100% {opacity: 0; -o-transform: scale(2.5);}
				}
				@keyframes ripple{
				    100% {opacity: 0; transform: scale(2.5);}
				}

			/*
			=====================================================================================
			# 7.3.2.3 Sink
			-------------------------------------------------------------------------------------
			*/

				button.joqd.button.flat.sink-click:active,
				a.joqd.button.flat.sink-click:active,
				input[type=submit].joqd.button.flat.sink-click:active{
					-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.45);
					   -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.45);
									box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.45);}

			/*
			=====================================================================================
			# 7.3.2.4 Set
			-------------------------------------------------------------------------------------
			*/

				button.joqd.button.raised.set-click:active,
				a.joqd.button.raised.set-click:active,
				input[type=submit].joqd.button.raised.set-click:active{
					top: 2px;
					-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25),
															0px 1px 5px 0px rgba(0, 0, 0, 0.12);
					   -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25),
															0px 1px 5px 0px rgba(0, 0, 0, 0.12);
									box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25),
															0px 1px 5px 0px rgba(0, 0, 0, 0.12);}
