/*
=================================================================================================
# 15 Forms
-------------------------------------------------------------------------------------------------
*/

	/*
	=============================================================================================
	# 15.1 Inputs
	---------------------------------------------------------------------------------------------
	*/

		.joqd.input-field{
			position: relative;
			margin-top: 16px;}

		/*
		=========================================================================================
		# 15.1.1 Inputs and Textareas
		-----------------------------------------------------------------------------------------
		*/

			.joqd.input-field .joqd.input{
				width: 100%;
				padding: 16px 0px;
				font-size: 15px;
				border-top: none; border-right: none; border-left: none;
				background-color: transparent;
				outline: none;
				box-shadow: none;
				resize: vertical;
				-webkit-box-sizing: border-box;
				   -moz-box-sizing: border-box;
								box-sizing: content-box;
				-webkit-transition: all 0.2s ease-out;
				   -moz-transition: all 0.2s ease-out;
				     -o-transition: all 0.2s ease-out;
								transition: all 0.2s ease-out;}

				::-webkit-input-placeholder{color: #d1d1d1;}
				::-moz-placeholder{
					color: #d1d1d1;
					opacity: 1;}
				:-ms-input-placeholder{color: #d1d1d1;}
				:-moz-placeholder{
					color: #d1d1d1;
					opacity: 1;}

				.joqd.input-field .joqd.input:disabled{
					opacity: .26;
					border-bottom-style: dotted !important;
					cursor: default;}

				.joqd.input-field input[type='number'].joqd.input{
				    -webkit-appearance:textfield;
				   	   -moz-appearance:textfield;
				   					appearance:textfield;}

				.joqd.input-field input.joqd.input::-webkit-outer-spin-button,
				.joqd.input-field input.joqd.input::-webkit-inner-spin-button{
				    -webkit-appearance:none;
  					   -moz-appearance:none;
  					   			appearance:none;}

		/*
		=========================================================================================
		# 15.1.2 Labels
		-----------------------------------------------------------------------------------------
		*/

			.joqd.input-field label{
				position: absolute;
				right: 0px; top: 16px;
				font-size: 15px;
				-webkit-transition: all 0.2s ease-out;
				   -moz-transition: all 0.2s ease-out;
				     -o-transition: all 0.2s ease-out;
								transition: all 0.2s ease-out;}

			.joqd.input-field label:hover{cursor: text;}

			.joqd.input-field label.joqd.open-input,
			.joqd.input-field label.joqd.always-open-input{
				top: -10px;
				font-size: 12px}

			.joqd.input-field .joqd.input:disabled + label{opacity: .26;}

		/*
		=========================================================================================
		# 15.1.1 Prefix
		-----------------------------------------------------------------------------------------
		*/

			.joqd.input-field .joqd.prefix{
				position: absolute;
				top: 12px; right: 0px;
				font-size: 30px;
				width: 45px;
				-webkit-transition: all 0.2s ease-out;
				   -moz-transition: all 0.2s ease-out;
				     -o-transition: all 0.2s ease-out;
								transition: all 0.2s ease-out;}

			.joqd.input-field .joqd.prefix ~ label{right: 45px;}

			.joqd.input-field .joqd.prefix ~ .joqd.input,
			.joqd.input-field .joqd.prefix ~ .joqd.input{
				margin-right: 45px;
				width: calc(100% - 45px);}

			.joqd.input-field .joqd.input:disabled + .joqd.prefix{opacity: .26;}

	/*
	=============================================================================================
	# 15.2 CheckBoxes
	---------------------------------------------------------------------------------------------
	*/

		.joqd.checkbox-field{margin-top: 16px;}

		/*
		=========================================================================================
		# 15.2.1 Checkboxes
		-----------------------------------------------------------------------------------------
		*/

			.joqd.checkbox-field input.joqd.checkbox{
				position: absolute;
				right: -9999999;
				visibility: hidden;}

		/*
		=========================================================================================
		# 15.1.2 Labels
		-----------------------------------------------------------------------------------------
		*/

			.joqd.checkbox-field label{
				position: relative;
				padding-right: 30px;
				display: inline-block;
				font-size: 16px;
				cursor: pointer;
				-webkit-user-select: none;
				   -moz-user-select: none;
						-ms-user-select: none;
								user-select: none;}

			.joqd.checkbox-field label .box{
				content: " ";
				position: absolute;
				height: 18px; width: 18px;
				right: 0px; top: 3px;
				-webkit-transition: all 0.2s ease-out;
				   -moz-transition: all 0.2s ease-out;
				     -o-transition: all 0.2s ease-out;
								transition: all 0.2s ease-out;}

			.joqd.checkbox-field .joqd.checkbox:checked + label .box{
				height: 9px; width: 22px;
				border-top: none;
				border-right: none;
				right: -1px; top: -6px;
				-webkit-transform: rotate(-45deg);
				   -moz-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
								transform: rotate(-45deg);
				-webkit-backface-visibility: hidden;
				   -moz-backface-visibility: hidden;
								backface-visibility: hidden;
				-webkit-transform-origin: 100% 100%;
				   -moz-transform-origin: 100% 100%;
						-ms-transform-origin: 100% 100%;
						 -o-transform-origin: 100% 100%;
								transform-origin: 100% 100%;}

			.joqd.checkbox-field .joqd.checkbox:disabled + label{opacity: .26;}

	/*
	=============================================================================================
	# 15.3 RadioBoxes
	---------------------------------------------------------------------------------------------
	*/

	/*
	=============================================================================================
	# 15.4 Selects
	---------------------------------------------------------------------------------------------
	*/

		.joqd.input-field select.joqd{display: none;}

		.joqd.input-field .joqd.input.select-input{cursor: pointer;}

	/*
	=============================================================================================
	# 15.5 Switchs
	---------------------------------------------------------------------------------------------
	*/

		.joqd.switch-field{
			position: relative;
			margin-top: 16px;}

			/*
			=========================================================================================
			# 15.5.1 Labels
			-----------------------------------------------------------------------------------------
			*/

				.joqd.switch-field label.joqd.switch{
					font-size: 14px;
					cursor: pointer;}

				.joqd.switch-field label.joqd.switch input{
					opacity: 0;
					width: 0px; height: 0px;
					margin: 0px;
					position: absolute;
					right: -9999px;
					visibility: hidden;}

			/*
			=========================================================================================
			# 15.5.2 Levers
			-----------------------------------------------------------------------------------------
			*/

				.joqd.switch-field label.joqd.switch .joqd.lever{
					content: "";
					display: inline-block;
					position: relative;
					width: 40px; height: 15px;
					vertical-align: middle;
					margin: 0px 16px;
					-webkit-transition: all 0.2s ease-out;
					   -moz-transition: all 0.2s ease-out;
					     -o-transition: all 0.2s ease-out;
									transition: all 0.2s ease-out;}

				/*
				=========================================================================================
				# 15.5.3 Triggers
				-----------------------------------------------------------------------------------------
				*/

					.joqd.switch-field label.joqd.switch .joqd.lever .joqd.trigger{
						content: "";
						position: absolute;
						display: inline-block;
						width: 21px; height: 21px;
						top: -3px; right: 0px;
						-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12),
																0px 2px  5px 0px rgba(0, 0, 0, 0.16);
							 -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12),
	 															0px 2px  5px 0px rgba(0, 0, 0, 0.16);
										box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.12),
																0px 2px  5px 0px rgba(0, 0, 0, 0.16);
						-webkit-transition: all 0.2s ease-out;
						   -moz-transition: all 0.2s ease-out;
						     -o-transition: all 0.2s ease-out;
										transition: all 0.2s ease-out;}

						.joqd.switch-field label.joqd.switch input:checked +  .joqd.lever .joqd.trigger{right: 19px;}
