/*
=================================================================================================
# 2 Grid
-------------------------------------------------------------------------------------------------
*/

	body{margin: 0px;}

	*{box-sizing: border-box;}

	.joqd.container-narrow{width: 100%;}

	.joqd.container{
		width: 100%;
	 	margin-left: auto;
	 	margin-right: auto;}

	.joqd.row:before,
	.joqd.row:after {
    content:"";
    display: table;
    clear:both;}

	:lang(fa).joqd [class*='desktop-'],
	:lang(fa).joqd [class*='laptop-'],
	:lang(fa).joqd [class*='mobile-'],
	:lang(fa).joqd [class*='tablet-'],
	:lang(ar).joqd [class*='desktop-'],
	:lang(ar).joqd [class*='laptop-'],
	:lang(ar).joqd [class*='tablet-'],
	:lang(ar).joqd [class*='mobile-'],
	:lang(ku).joqd [class*='desktop-'],
	:lang(ku).joqd [class*='laptop-'],
	:lang(ku).joqd [class*='tablet-'],
	:lang(ku).joqd [class*='mobile-'],
	:lang(ur).joqd [class*='desktop-'],
	:lang(ur).joqd [class*='laptop-'],
	:lang(ur).joqd [class*='tablet-'],
	:lang(ur).joqd [class*='mobile-'],
	:lang(ps).joqd [class*='desktop-'],
	:lang(ps).joqd [class*='laptop-'],
	:lang(ps).joqd [class*='tablet-'],
	:lang(ps).joqd [class*='mobile-'],
	:lang(sd).joqd [class*='desktop-'],
	:lang(sd).joqd [class*='laptop-'],
	:lang(sd).joqd [class*='tablet-'],
	:lang(sd).joqd [class*='mobile-']{float: right;}

	:lang(en).joqd [class*='desktop-'],
	:lang(en).joqd [class*='laptop-'],
	:lang(en).joqd [class*='mobile-'],
	:lang(en).joqd [class*='tablet-'],
	:lang(fr).joqd [class*='desktop-'],
	:lang(fr).joqd [class*='laptop-'],
	:lang(fr).joqd [class*='mobile-'],
	:lang(fr).joqd [class*='tablet-'],
	:lang(de).joqd [class*='desktop-'],
	:lang(de).joqd [class*='laptop-'],
	:lang(de).joqd [class*='mobile-'],
	:lang(de).joqd [class*='tablet-'],
	:lang(es).joqd [class*='desktop-'],
	:lang(es).joqd [class*='laptop-'],
	:lang(es).joqd [class*='mobile-'],
	:lang(es).joqd [class*='tablet-']{float: left}

	.joqd [class*='desktop-'],
	.joqd [class*='tablet-'],
	.joqd [class*='mobile-']{
    position: relative;
    min-height: 1px;
		padding: 12px;}

	.joqd.no-gaps{
		padding-left: 0px;
		padding-right: 0px;}

	.joqd.no-padding{padding: 0px;}

	/*
	=============================================================================================
	# 2.1 Desktop
	---------------------------------------------------------------------------------------------
	*/

		@media screen and (min-width: 1200px) {

			.joqd.container{max-width: 1170px;}

			.joqd.desktop-1{width: 8.33333%;}

			.joqd.desktop-2{width: 16.66667%;}

			.joqd.desktop-3{width: 25%;}

			.joqd.desktop-4{width: 33.33333%;}

			.joqd.desktop-5{width: 41.66667%;}

			.joqd.desktop-6{width: 50%;}

			.joqd.desktop-7{width: 58.33333%;}

			.joqd.desktop-8{width: 66.66667%;}

			.joqd.desktop-9{width: 75%;}

			.joqd.desktop-10{width: 83.33333%;}

			.joqd.desktop-11{width: 91.66667%;}

			.joqd.desktop-12{width: 100%;}

			:lang(fa).joqd.desktop-push-1,
			:lang(ar).joqd.desktop-push-1,
			:lang(ku).joqd.desktop-push-1,
			:lang(ur).joqd.desktop-push-1,
			:lang(ps).joqd.desktop-push-1,
			:lang(sd).joqd.desktop-push-1{right: 8.33333%;}

			:lang(en).joqd.desktop-push-1,
			:lang(fr).joqd.desktop-push-1,
			:lang(de).joqd.desktop-push-1,
			:lang(es).joqd.desktop-push-1{left: 8.33333%;}

			:lang(fa).joqd.desktop-push-2,
			:lang(ar).joqd.desktop-push-2,
			:lang(ku).joqd.desktop-push-2,
			:lang(ur).joqd.desktop-push-2,
			:lang(ps).joqd.desktop-push-2,
			:lang(sd).joqd.desktop-push-2{right: 16.66667%;}

			:lang(en).joqd.desktop-push-2,
			:lang(fr).joqd.desktop-push-2,
			:lang(de).joqd.desktop-push-2,
			:lang(es).joqd.desktop-push-2{left: 16.66667%;}

			:lang(fa).joqd.desktop-push-3,
			:lang(ar).joqd.desktop-push-3,
			:lang(ku).joqd.desktop-push-3,
			:lang(ur).joqd.desktop-push-3,
			:lang(ps).joqd.desktop-push-3,
			:lang(sd).joqd.desktop-push-3{right: 25%;}

			:lang(en).joqd.desktop-push-3,
			:lang(fr).joqd.desktop-push-3,
			:lang(de).joqd.desktop-push-3,
			:lang(es).joqd.desktop-push-3{left: 25%;}

			:lang(fa).joqd.desktop-push-4,
			:lang(ar).joqd.desktop-push-4,
			:lang(ku).joqd.desktop-push-4,
			:lang(ur).joqd.desktop-push-4,
			:lang(ps).joqd.desktop-push-4,
			:lang(sd).joqd.desktop-push-4{right: 33.33333%;}

			:lang(en).joqd.desktop-push-4,
			:lang(fr).joqd.desktop-push-4,
			:lang(de).joqd.desktop-push-4,
			:lang(es).joqd.desktop-push-4{left: 33.33333%;}

			:lang(fa).joqd.desktop-push-5,
			:lang(ar).joqd.desktop-push-5,
			:lang(ku).joqd.desktop-push-5,
			:lang(ur).joqd.desktop-push-5,
			:lang(ps).joqd.desktop-push-5,
			:lang(sd).joqd.desktop-push-5{right: 41.66667%;}

			:lang(en).joqd.desktop-push-5,
			:lang(fr).joqd.desktop-push-5,
			:lang(de).joqd.desktop-push-5,
			:lang(es).joqd.desktop-push-5{left: 41.66667%;}

			:lang(fa).joqd.desktop-push-6,
			:lang(ar).joqd.desktop-push-6,
			:lang(ku).joqd.desktop-push-6,
			:lang(ur).joqd.desktop-push-6,
			:lang(ps).joqd.desktop-push-6,
			:lang(sd).joqd.desktop-push-6{right: 50%;}

			:lang(en).joqd.desktop-push-6,
			:lang(fr).joqd.desktop-push-6,
			:lang(de).joqd.desktop-push-6,
			:lang(es).joqd.desktop-push-6{left: 50%;}

			:lang(fa).joqd.desktop-push-7,
			:lang(ar).joqd.desktop-push-7,
			:lang(ku).joqd.desktop-push-7,
			:lang(ur).joqd.desktop-push-7,
			:lang(ps).joqd.desktop-push-7,
			:lang(sd).joqd.desktop-push-7{right: 58.33333%;}

			:lang(en).joqd.desktop-push-7,
			:lang(fr).joqd.desktop-push-7,
			:lang(de).joqd.desktop-push-7,
			:lang(es).joqd.desktop-push-7{left: 58.33333%;}

			:lang(fa).joqd.desktop-push-8,
			:lang(ar).joqd.desktop-push-8,
			:lang(ku).joqd.desktop-push-8,
			:lang(ur).joqd.desktop-push-8,
			:lang(ps).joqd.desktop-push-8,
			:lang(sd).joqd.desktop-push-8{right: 66.66667%;}

			:lang(en).joqd.desktop-push-8,
			:lang(fr).joqd.desktop-push-8,
			:lang(de).joqd.desktop-push-8,
			:lang(es).joqd.desktop-push-8{left: 66.66667%;}

			:lang(fa).joqd.desktop-push-9,
			:lang(ar).joqd.desktop-push-9,
			:lang(ku).joqd.desktop-push-9,
			:lang(ur).joqd.desktop-push-9,
			:lang(ps).joqd.desktop-push-9,
			:lang(sd).joqd.desktop-push-9{right: 75%;}

			:lang(en).joqd.desktop-push-9,
			:lang(fr).joqd.desktop-push-9,
			:lang(de).joqd.desktop-push-9,
			:lang(es).joqd.desktop-push-9{left: 75%;}

			:lang(fa).joqd.desktop-push-10,
			:lang(ar).joqd.desktop-push-10,
			:lang(ku).joqd.desktop-push-10,
			:lang(ur).joqd.desktop-push-10,
			:lang(ps).joqd.desktop-push-10,
			:lang(sd).joqd.desktop-push-10{right: 83.33333%;}

			:lang(en).joqd.desktop-push-10,
			:lang(fr).joqd.desktop-push-10,
			:lang(de).joqd.desktop-push-10,
			:lang(es).joqd.desktop-push-10{left: 83.33333%;}

			:lang(fa).joqd.desktop-push-11,
			:lang(ar).joqd.desktop-push-11,
			:lang(ku).joqd.desktop-push-11,
			:lang(ur).joqd.desktop-push-11,
			:lang(ps).joqd.desktop-push-11,
			:lang(sd).joqd.desktop-push-11{right: 91.66667%;}

			:lang(en).joqd.desktop-push-11,
			:lang(fr).joqd.desktop-push-11,
			:lang(de).joqd.desktop-push-11,
			:lang(es).joqd.desktop-push-11{left: 91.66667%;}

			:lang(fa).joqd.desktop-pull-1,
			:lang(ar).joqd.desktop-pull-1,
			:lang(ku).joqd.desktop-pull-1,
			:lang(ur).joqd.desktop-pull-1,
			:lang(ps).joqd.desktop-pull-1,
			:lang(sd).joqd.desktop-pull-1{left: 8.33333%;}

			:lang(en).joqd.desktop-pull-1,
			:lang(fr).joqd.desktop-pull-1,
			:lang(de).joqd.desktop-pull-1,
			:lang(es).joqd.desktop-pull-1{right: 8.33333%;}

			:lang(fa).joqd.desktop-pull-2,
			:lang(ar).joqd.desktop-pull-2,
			:lang(ku).joqd.desktop-pull-2,
			:lang(ur).joqd.desktop-pull-2,
			:lang(ps).joqd.desktop-pull-2,
			:lang(sd).joqd.desktop-pull-2{left: 16.66667%;}

			:lang(en).joqd.desktop-pull-2,
			:lang(fr).joqd.desktop-pull-2,
			:lang(de).joqd.desktop-pull-2,
			:lang(es).joqd.desktop-pull-2{right: 16.66667%;}

			:lang(fa).joqd.desktop-pull-3,
			:lang(ar).joqd.desktop-pull-3,
			:lang(ku).joqd.desktop-pull-3,
			:lang(ur).joqd.desktop-pull-3,
			:lang(ps).joqd.desktop-pull-3,
			:lang(sd).joqd.desktop-pull-3{left: 25%;}

			:lang(en).joqd.desktop-pull-3,
			:lang(fr).joqd.desktop-pull-3,
			:lang(de).joqd.desktop-pull-3,
			:lang(es).joqd.desktop-pull-3{right: 25%;}

			:lang(fa).joqd.desktop-pull-4,
			:lang(ar).joqd.desktop-pull-4,
			:lang(ku).joqd.desktop-pull-4,
			:lang(ur).joqd.desktop-pull-4,
			:lang(ps).joqd.desktop-pull-4,
			:lang(sd).joqd.desktop-pull-4{left: 33.33333%;}

			:lang(en).joqd.desktop-pull-4,
			:lang(fr).joqd.desktop-pull-4,
			:lang(de).joqd.desktop-pull-4,
			:lang(es).joqd.desktop-pull-4{right: 33.33333%;}

			:lang(fa).joqd.desktop-pull-5,
			:lang(ar).joqd.desktop-pull-5,
			:lang(ku).joqd.desktop-pull-5,
			:lang(ur).joqd.desktop-pull-5,
			:lang(ps).joqd.desktop-pull-5,
			:lang(sd).joqd.desktop-pull-5{left: 41.66667%;}

			:lang(en).joqd.desktop-pull-5,
			:lang(fr).joqd.desktop-pull-5,
			:lang(de).joqd.desktop-pull-5,
			:lang(es).joqd.desktop-pull-5{right: 41.66667%;}

			:lang(fa).joqd.desktop-pull-6,
			:lang(ar).joqd.desktop-pull-6,
			:lang(ku).joqd.desktop-pull-6,
			:lang(ur).joqd.desktop-pull-6,
			:lang(ps).joqd.desktop-pull-6,
			:lang(sd).joqd.desktop-pull-6{left: 50%;}

			:lang(en).joqd.desktop-pull-6,
			:lang(fr).joqd.desktop-pull-6,
			:lang(de).joqd.desktop-pull-6,
			:lang(es).joqd.desktop-pull-6{right: 50%;}

			:lang(fa).joqd.desktop-pull-7,
			:lang(ar).joqd.desktop-pull-7,
			:lang(ku).joqd.desktop-pull-7,
			:lang(ur).joqd.desktop-pull-7,
			:lang(ps).joqd.desktop-pull-7,
			:lang(sd).joqd.desktop-pull-7{left: 58.33333%;}

			:lang(en).joqd.desktop-pull-7,
			:lang(fr).joqd.desktop-pull-7,
			:lang(de).joqd.desktop-pull-7,
			:lang(es).joqd.desktop-pull-7{right: 58.33333%;}

			:lang(fa).joqd.desktop-pull-8,
			:lang(ar).joqd.desktop-pull-8,
			:lang(ku).joqd.desktop-pull-8,
			:lang(ur).joqd.desktop-pull-8,
			:lang(ps).joqd.desktop-pull-8,
			:lang(sd).joqd.desktop-pull-8{left: 66.66667%;}

			:lang(en).joqd.desktop-pull-8,
			:lang(fr).joqd.desktop-pull-8,
			:lang(de).joqd.desktop-pull-8,
			:lang(es).joqd.desktop-pull-8{right: 66.66667%;}

			:lang(fa).joqd.desktop-pull-9,
			:lang(ar).joqd.desktop-pull-9,
			:lang(ku).joqd.desktop-pull-9,
			:lang(ur).joqd.desktop-pull-9,
			:lang(ps).joqd.desktop-pull-9,
			:lang(sd).joqd.desktop-pull-9{left: 75%;}

			:lang(en).joqd.desktop-pull-9,
			:lang(fr).joqd.desktop-pull-9,
			:lang(de).joqd.desktop-pull-9,
			:lang(es).joqd.desktop-pull-9{right: 75%;}

			:lang(fa).joqd.desktop-pull-10,
			:lang(ar).joqd.desktop-pull-10,
			:lang(ku).joqd.desktop-pull-10,
			:lang(ur).joqd.desktop-pull-10,
			:lang(ps).joqd.desktop-pull-10,
			:lang(sd).joqd.desktop-pull-10{left: 83.33333%;}

			:lang(en).joqd.desktop-pull-10,
			:lang(fr).joqd.desktop-pull-10,
			:lang(de).joqd.desktop-pull-10,
			:lang(es).joqd.desktop-pull-10{right: 83.33333%;}

			:lang(fa).joqd.desktop-pull-11,
			:lang(ar).joqd.desktop-pull-11,
			:lang(ku).joqd.desktop-pull-11,
			:lang(ur).joqd.desktop-pull-11,
			:lang(ps).joqd.desktop-pull-11,
			:lang(sd).joqd.desktop-pull-11{left: 91.66667%;}

			:lang(en).joqd.desktop-pull-11,
			:lang(fr).joqd.desktop-pull-11,
			:lang(de).joqd.desktop-pull-11,
			:lang(es).joqd.desktop-pull-11{right: 91.66667%;}

			.joqd.hide-desktop{display: none;}

			.joqd.show-laptop{display: none;}

			.joqd.show-tablet{display: none;}

			.joqd.show-mobile{display: none;}

		}

	/*
	=============================================================================================
	# 2.2 Laptop
	---------------------------------------------------------------------------------------------
	*/

		@media screen and (min-width: 992px) and (max-width: 1199px) {

			.joqd.container{max-width: 970px;}

			.joqd.laptop-1{width: 8.33333%;}

			.joqd.laptop-2{width: 16.66667%;}

			.joqd.laptop-3{width: 25%;}

			.joqd.laptop-4{width: 33.33333%;}

			.joqd.laptop-5{width: 41.66667%;}

			.joqd.laptop-6{width: 50%;}

			.joqd.laptop-7{width: 58.33333%;}

			.joqd.laptop-8{width: 66.66667%;}

			.joqd.laptop-9{width: 75%;}

			.joqd.laptop-10{width: 83.33333%;}

			.joqd.laptop-11{width: 91.66667%;}

			.joqd.laptop-12{width: 100%;}

			:lang(fa).joqd.laptop-push-1,
			:lang(ar).joqd.laptop-push-1,
			:lang(ku).joqd.laptop-push-1,
			:lang(ur).joqd.laptop-push-1,
			:lang(ps).joqd.laptop-push-1,
			:lang(sd).joqd.laptop-push-1{right: 8.33333%;}

			:lang(en).joqd.laptop-push-1,
			:lang(fr).joqd.laptop-push-1,
			:lang(de).joqd.laptop-push-1,
			:lang(es).joqd.laptop-push-1{left: 8.33333%;}

			:lang(fa).joqd.laptop-push-2,
			:lang(ar).joqd.laptop-push-2,
			:lang(ku).joqd.laptop-push-2,
			:lang(ur).joqd.laptop-push-2,
			:lang(ps).joqd.laptop-push-2,
			:lang(sd).joqd.laptop-push-2{right: 16.66667%;}

			:lang(en).joqd.laptop-push-2,
			:lang(fr).joqd.laptop-push-2,
			:lang(de).joqd.laptop-push-2,
			:lang(es).joqd.laptop-push-2{left: 16.66667%;}

			:lang(fa).joqd.laptop-push-3,
			:lang(ar).joqd.laptop-push-3,
			:lang(ku).joqd.laptop-push-3,
			:lang(ur).joqd.laptop-push-3,
			:lang(ps).joqd.laptop-push-3,
			:lang(sd).joqd.laptop-push-3{right: 25%;}

			:lang(en).joqd.laptop-push-3,
			:lang(fr).joqd.laptop-push-3,
			:lang(de).joqd.laptop-push-3,
			:lang(es).joqd.laptop-push-3{left: 25%;}

			:lang(fa).joqd.laptop-push-4,
			:lang(ar).joqd.laptop-push-4,
			:lang(ku).joqd.laptop-push-4,
			:lang(ur).joqd.laptop-push-4,
			:lang(ps).joqd.laptop-push-4,
			:lang(sd).joqd.laptop-push-4{right: 33.33333%;}

			:lang(en).joqd.laptop-push-4,
			:lang(fr).joqd.laptop-push-4,
			:lang(de).joqd.laptop-push-4,
			:lang(es).joqd.laptop-push-4{left: 33.33333%;}

			:lang(fa).joqd.laptop-push-5,
			:lang(ar).joqd.laptop-push-5,
			:lang(ku).joqd.laptop-push-5,
			:lang(ur).joqd.laptop-push-5,
			:lang(ps).joqd.laptop-push-5,
			:lang(sd).joqd.laptop-push-5{right: 41.66667%;}

			:lang(en).joqd.laptop-push-5,
			:lang(fr).joqd.laptop-push-5,
			:lang(de).joqd.laptop-push-5,
			:lang(es).joqd.laptop-push-5{left: 41.66667%;}

			:lang(fa).joqd.laptop-push-6,
			:lang(ar).joqd.laptop-push-6,
			:lang(ku).joqd.laptop-push-6,
			:lang(ur).joqd.laptop-push-6,
			:lang(ps).joqd.laptop-push-6,
			:lang(sd).joqd.laptop-push-6{right: 50%;}

			:lang(en).joqd.laptop-push-6,
			:lang(fr).joqd.laptop-push-6,
			:lang(de).joqd.laptop-push-6,
			:lang(es).joqd.laptop-push-6{left: 50%;}

			:lang(fa).joqd.laptop-push-7,
			:lang(ar).joqd.laptop-push-7,
			:lang(ku).joqd.laptop-push-7,
			:lang(ur).joqd.laptop-push-7,
			:lang(ps).joqd.laptop-push-7,
			:lang(sd).joqd.laptop-push-7{right: 58.33333%;}

			:lang(en).joqd.laptop-push-7,
			:lang(fr).joqd.laptop-push-7,
			:lang(de).joqd.laptop-push-7,
			:lang(es).joqd.laptop-push-7{left: 58.33333%;}

			:lang(fa).joqd.laptop-push-8,
			:lang(ar).joqd.laptop-push-8,
			:lang(ku).joqd.laptop-push-8,
			:lang(ur).joqd.laptop-push-8,
			:lang(ps).joqd.laptop-push-8,
			:lang(sd).joqd.laptop-push-8{right: 66.66667%;}

			:lang(en).joqd.laptop-push-8,
			:lang(fr).joqd.laptop-push-8,
			:lang(de).joqd.laptop-push-8,
			:lang(es).joqd.laptop-push-8{left: 66.66667%;}

			:lang(fa).joqd.laptop-push-9,
			:lang(ar).joqd.laptop-push-9,
			:lang(ku).joqd.laptop-push-9,
			:lang(ur).joqd.laptop-push-9,
			:lang(ps).joqd.laptop-push-9,
			:lang(sd).joqd.laptop-push-9{right: 75%;}

			:lang(en).joqd.laptop-push-9,
			:lang(fr).joqd.laptop-push-9,
			:lang(de).joqd.laptop-push-9,
			:lang(es).joqd.laptop-push-9{left: 75%;}

			:lang(fa).joqd.laptop-push-10,
			:lang(ar).joqd.laptop-push-10,
			:lang(ku).joqd.laptop-push-10,
			:lang(ur).joqd.laptop-push-10,
			:lang(ps).joqd.laptop-push-10,
			:lang(sd).joqd.laptop-push-10{right: 83.33333%;}

			:lang(en).joqd.laptop-push-10,
			:lang(fr).joqd.laptop-push-10,
			:lang(de).joqd.laptop-push-10,
			:lang(es).joqd.laptop-push-10{left: 83.33333%;}

			:lang(fa).joqd.laptop-push-11,
			:lang(ar).joqd.laptop-push-11,
			:lang(ku).joqd.laptop-push-11,
			:lang(ur).joqd.laptop-push-11,
			:lang(ps).joqd.laptop-push-11,
			:lang(sd).joqd.laptop-push-11{right: 91.66667%;}

			:lang(en).joqd.laptop-push-11,
			:lang(fr).joqd.laptop-push-11,
			:lang(de).joqd.laptop-push-11,
			:lang(es).joqd.laptop-push-11{left: 91.66667%;}

			:lang(fa).joqd.laptop-pull-1,
			:lang(ar).joqd.laptop-pull-1,
			:lang(ku).joqd.laptop-pull-1,
			:lang(ur).joqd.laptop-pull-1,
			:lang(ps).joqd.laptop-pull-1,
			:lang(sd).joqd.laptop-pull-1{left: 8.33333%;}

			:lang(en).joqd.laptop-pull-1,
			:lang(fr).joqd.laptop-pull-1,
			:lang(de).joqd.laptop-pull-1,
			:lang(es).joqd.laptop-pull-1{right: 8.33333%;}

			:lang(fa).joqd.laptop-pull-2,
			:lang(ar).joqd.laptop-pull-2,
			:lang(ku).joqd.laptop-pull-2,
			:lang(ur).joqd.laptop-pull-2,
			:lang(ps).joqd.laptop-pull-2,
			:lang(sd).joqd.laptop-pull-2{left: 16.66667%;}

			:lang(en).joqd.laptop-pull-2,
			:lang(fr).joqd.laptop-pull-2,
			:lang(de).joqd.laptop-pull-2,
			:lang(es).joqd.laptop-pull-2{right: 16.66667%;}

			:lang(fa).joqd.laptop-pull-3,
			:lang(ar).joqd.laptop-pull-3,
			:lang(ku).joqd.laptop-pull-3,
			:lang(ur).joqd.laptop-pull-3,
			:lang(ps).joqd.laptop-pull-3,
			:lang(sd).joqd.laptop-pull-3{left: 25%;}

			:lang(en).joqd.laptop-pull-3,
			:lang(fr).joqd.laptop-pull-3,
			:lang(de).joqd.laptop-pull-3,
			:lang(es).joqd.laptop-pull-3{right: 25%;}

			:lang(fa).joqd.laptop-pull-4,
			:lang(ar).joqd.laptop-pull-4,
			:lang(ku).joqd.laptop-pull-4,
			:lang(ur).joqd.laptop-pull-4,
			:lang(ps).joqd.laptop-pull-4,
			:lang(sd).joqd.laptop-pull-4{left: 33.33333%;}

			:lang(en).joqd.laptop-pull-4,
			:lang(fr).joqd.laptop-pull-4,
			:lang(de).joqd.laptop-pull-4,
			:lang(es).joqd.laptop-pull-4{right: 33.33333%;}

			:lang(fa).joqd.laptop-pull-5,
			:lang(ar).joqd.laptop-pull-5,
			:lang(ku).joqd.laptop-pull-5,
			:lang(ur).joqd.laptop-pull-5,
			:lang(ps).joqd.laptop-pull-5,
			:lang(sd).joqd.laptop-pull-5{left: 41.66667%;}

			:lang(en).joqd.laptop-pull-5,
			:lang(fr).joqd.laptop-pull-5,
			:lang(de).joqd.laptop-pull-5,
			:lang(es).joqd.laptop-pull-5{right: 41.66667%;}

			:lang(fa).joqd.laptop-pull-6,
			:lang(ar).joqd.laptop-pull-6,
			:lang(ku).joqd.laptop-pull-6,
			:lang(ur).joqd.laptop-pull-6,
			:lang(ps).joqd.laptop-pull-6,
			:lang(sd).joqd.laptop-pull-6{left: 50%;}

			:lang(en).joqd.laptop-pull-6,
			:lang(fr).joqd.laptop-pull-6,
			:lang(de).joqd.laptop-pull-6,
			:lang(es).joqd.laptop-pull-6{right: 50%;}

			:lang(fa).joqd.laptop-pull-7,
			:lang(ar).joqd.laptop-pull-7,
			:lang(ku).joqd.laptop-pull-7,
			:lang(ur).joqd.laptop-pull-7,
			:lang(ps).joqd.laptop-pull-7,
			:lang(sd).joqd.laptop-pull-7{left: 58.33333%;}

			:lang(en).joqd.laptop-pull-7,
			:lang(fr).joqd.laptop-pull-7,
			:lang(de).joqd.laptop-pull-7,
			:lang(es).joqd.laptop-pull-7{right: 58.33333%;}

			:lang(fa).joqd.laptop-pull-8,
			:lang(ar).joqd.laptop-pull-8,
			:lang(ku).joqd.laptop-pull-8,
			:lang(ur).joqd.laptop-pull-8,
			:lang(ps).joqd.laptop-pull-8,
			:lang(sd).joqd.laptop-pull-8{left: 66.66667%;}

			:lang(en).joqd.laptop-pull-8,
			:lang(fr).joqd.laptop-pull-8,
			:lang(de).joqd.laptop-pull-8,
			:lang(es).joqd.laptop-pull-8{right: 66.66667%;}

			:lang(fa).joqd.laptop-pull-9,
			:lang(ar).joqd.laptop-pull-9,
			:lang(ku).joqd.laptop-pull-9,
			:lang(ur).joqd.laptop-pull-9,
			:lang(ps).joqd.laptop-pull-9,
			:lang(sd).joqd.laptop-pull-9{left: 75%;}

			:lang(en).joqd.laptop-pull-9,
			:lang(fr).joqd.laptop-pull-9,
			:lang(de).joqd.laptop-pull-9,
			:lang(es).joqd.laptop-pull-9{right: 75%;}

			:lang(fa).joqd.laptop-pull-10,
			:lang(ar).joqd.laptop-pull-10,
			:lang(ku).joqd.laptop-pull-10,
			:lang(ur).joqd.laptop-pull-10,
			:lang(ps).joqd.laptop-pull-10,
			:lang(sd).joqd.laptop-pull-10{left: 83.33333%;}

			:lang(en).joqd.laptop-pull-10,
			:lang(fr).joqd.laptop-pull-10,
			:lang(de).joqd.laptop-pull-10,
			:lang(es).joqd.laptop-pull-10{right: 83.33333%;}

			:lang(fa).joqd.laptop-pull-11,
			:lang(ar).joqd.laptop-pull-11,
			:lang(ku).joqd.laptop-pull-11,
			:lang(ur).joqd.laptop-pull-11,
			:lang(ps).joqd.laptop-pull-11,
			:lang(sd).joqd.laptop-pull-11{left: 91.66667%;}

			:lang(en).joqd.laptop-pull-11,
			:lang(fr).joqd.laptop-pull-11,
			:lang(de).joqd.laptop-pull-11,
			:lang(es).joqd.laptop-pull-11{right: 91.66667%;}

      .joqd.hide-laptop{display: none;}

			.joqd.show-desktop{display: none;}

			.joqd.show-tablet{display: none;}

			.joqd.show-mobile{display: none;}

		}

	/*
	=============================================================================================
	# 2.3 Tablet
	---------------------------------------------------------------------------------------------
	*/

		@media screen and (min-width:768px) and (max-width: 991px) {

			.joqd.container{max-width: 750px;}

			.joqd.tablet-1{width: 8.33333%;}

			.joqd.tablet-2{width: 16.66667%;}

			.joqd.tablet-3{width: 25%;}

			.joqd.tablet-4{width: 33.33333%;}

			.joqd.tablet-5{width: 41.66667%;}

			.joqd.tablet-6{width: 50%;}

			.joqd.tablet-7{width: 58.33333%;}

			.joqd.tablet-8{width: 66.66667%;}

			.joqd.tablet-9{width: 75%;}

			.joqd.tablet-10{width: 83.33333%;}

			.joqd.tablet-11{width: 91.66667%;}

			.joqd.tablet-12{width: 100%;}

			:lang(fa).joqd.tablet-push-1,
			:lang(ar).joqd.tablet-push-1,
			:lang(ku).joqd.tablet-push-1,
			:lang(ur).joqd.tablet-push-1,
			:lang(ps).joqd.tablet-push-1,
			:lang(sd).joqd.tablet-push-1{right: 8.33333%;}

			:lang(en).joqd.tablet-push-1,
			:lang(fr).joqd.tablet-push-1,
			:lang(de).joqd.tablet-push-1,
			:lang(es).joqd.tablet-push-1{left: 8.33333%;}

			:lang(fa).joqd.tablet-push-2,
			:lang(ar).joqd.tablet-push-2,
			:lang(ku).joqd.tablet-push-2,
			:lang(ur).joqd.tablet-push-2,
			:lang(ps).joqd.tablet-push-2,
			:lang(sd).joqd.tablet-push-2{right: 16.66667%;}

			:lang(en).joqd.tablet-push-2,
			:lang(fr).joqd.tablet-push-2,
			:lang(de).joqd.tablet-push-2,
			:lang(es).joqd.tablet-push-2{left: 16.66667%;}

			:lang(fa).joqd.tablet-push-3,
			:lang(ar).joqd.tablet-push-3,
			:lang(ku).joqd.tablet-push-3,
			:lang(ur).joqd.tablet-push-3,
			:lang(ps).joqd.tablet-push-3,
			:lang(sd).joqd.tablet-push-3{right: 25%;}

			:lang(en).joqd.tablet-push-3,
			:lang(fr).joqd.tablet-push-3,
			:lang(de).joqd.tablet-push-3,
			:lang(es).joqd.tablet-push-3{left: 25%;}

			:lang(fa).joqd.tablet-push-4,
			:lang(ar).joqd.tablet-push-4,
			:lang(ku).joqd.tablet-push-4,
			:lang(ur).joqd.tablet-push-4,
			:lang(ps).joqd.tablet-push-4,
			:lang(sd).joqd.tablet-push-4{right: 33.33333%;}

			:lang(en).joqd.tablet-push-4,
			:lang(fr).joqd.tablet-push-4,
			:lang(de).joqd.tablet-push-4,
			:lang(es).joqd.tablet-push-4{left: 33.33333%;}

			:lang(fa).joqd.tablet-push-5,
			:lang(ar).joqd.tablet-push-5,
			:lang(ku).joqd.tablet-push-5,
			:lang(ur).joqd.tablet-push-5,
			:lang(ps).joqd.tablet-push-5,
			:lang(sd).joqd.tablet-push-5{right: 41.66667%;}

			:lang(en).joqd.tablet-push-5,
			:lang(fr).joqd.tablet-push-5,
			:lang(de).joqd.tablet-push-5,
			:lang(es).joqd.tablet-push-5{left: 41.66667%;}

			:lang(fa).joqd.tablet-push-6,
			:lang(ar).joqd.tablet-push-6,
			:lang(ku).joqd.tablet-push-6,
			:lang(ur).joqd.tablet-push-6,
			:lang(ps).joqd.tablet-push-6,
			:lang(sd).joqd.tablet-push-6{right: 50%;}

			:lang(en).joqd.tablet-push-6,
			:lang(fr).joqd.tablet-push-6,
			:lang(de).joqd.tablet-push-6,
			:lang(es).joqd.tablet-push-6{left: 50%;}

			:lang(fa).joqd.tablet-push-7,
			:lang(ar).joqd.tablet-push-7,
			:lang(ku).joqd.tablet-push-7,
			:lang(ur).joqd.tablet-push-7,
			:lang(ps).joqd.tablet-push-7,
			:lang(sd).joqd.tablet-push-7{right: 58.33333%;}

			:lang(en).joqd.tablet-push-7,
			:lang(fr).joqd.tablet-push-7,
			:lang(de).joqd.tablet-push-7,
			:lang(es).joqd.tablet-push-7{left: 58.33333%;}

			:lang(fa).joqd.tablet-push-8,
			:lang(ar).joqd.tablet-push-8,
			:lang(ku).joqd.tablet-push-8,
			:lang(ur).joqd.tablet-push-8,
			:lang(ps).joqd.tablet-push-8,
			:lang(sd).joqd.tablet-push-8{right: 66.66667%;}

			:lang(en).joqd.tablet-push-8,
			:lang(fr).joqd.tablet-push-8,
			:lang(de).joqd.tablet-push-8,
			:lang(es).joqd.tablet-push-8{left: 66.66667%;}

			:lang(fa).joqd.tablet-push-9,
			:lang(ar).joqd.tablet-push-9,
			:lang(ku).joqd.tablet-push-9,
			:lang(ur).joqd.tablet-push-9,
			:lang(ps).joqd.tablet-push-9,
			:lang(sd).joqd.tablet-push-9{right: 75%;}

			:lang(en).joqd.tablet-push-9,
			:lang(fr).joqd.tablet-push-9,
			:lang(de).joqd.tablet-push-9,
			:lang(es).joqd.tablet-push-9{left: 75%;}

			:lang(fa).joqd.tablet-push-10,
			:lang(ar).joqd.tablet-push-10,
			:lang(ku).joqd.tablet-push-10,
			:lang(ur).joqd.tablet-push-10,
			:lang(ps).joqd.tablet-push-10,
			:lang(sd).joqd.tablet-push-10{right: 83.33333%;}

			:lang(en).joqd.tablet-push-10,
			:lang(fr).joqd.tablet-push-10,
			:lang(de).joqd.tablet-push-10,
			:lang(es).joqd.tablet-push-10{left: 83.33333%;}

			:lang(fa).joqd.tablet-push-11,
			:lang(ar).joqd.tablet-push-11,
			:lang(ku).joqd.tablet-push-11,
			:lang(ur).joqd.tablet-push-11,
			:lang(ps).joqd.tablet-push-11,
			:lang(sd).joqd.tablet-push-11{right: 91.66667%;}

			:lang(en).joqd.tablet-push-11,
			:lang(fr).joqd.tablet-push-11,
			:lang(de).joqd.tablet-push-11,
			:lang(es).joqd.tablet-push-11{left: 91.66667%;}

			:lang(fa).joqd.tablet-pull-1,
			:lang(ar).joqd.tablet-pull-1,
			:lang(ku).joqd.tablet-pull-1,
			:lang(ur).joqd.tablet-pull-1,
			:lang(ps).joqd.tablet-pull-1,
			:lang(sd).joqd.tablet-pull-1{left: 8.33333%;}

			:lang(en).joqd.tablet-pull-1,
			:lang(fr).joqd.tablet-pull-1,
			:lang(de).joqd.tablet-pull-1,
			:lang(es).joqd.tablet-pull-1{right: 8.33333%;}

			:lang(fa).joqd.tablet-pull-2,
			:lang(ar).joqd.tablet-pull-2,
			:lang(ku).joqd.tablet-pull-2,
			:lang(ur).joqd.tablet-pull-2,
			:lang(ps).joqd.tablet-pull-2,
			:lang(sd).joqd.tablet-pull-2{left: 16.66667%;}

			:lang(en).joqd.tablet-pull-2,
			:lang(fr).joqd.tablet-pull-2,
			:lang(de).joqd.tablet-pull-2,
			:lang(es).joqd.tablet-pull-2{right: 16.66667%;}

			:lang(fa).joqd.tablet-pull-3,
			:lang(ar).joqd.tablet-pull-3,
			:lang(ku).joqd.tablet-pull-3,
			:lang(ur).joqd.tablet-pull-3,
			:lang(ps).joqd.tablet-pull-3,
			:lang(sd).joqd.tablet-pull-3{left: 25%;}

			:lang(en).joqd.tablet-pull-3,
			:lang(fr).joqd.tablet-pull-3,
			:lang(de).joqd.tablet-pull-3,
			:lang(es).joqd.tablet-pull-3{right: 25%;}

			:lang(fa).joqd.tablet-pull-4,
			:lang(ar).joqd.tablet-pull-4,
			:lang(ku).joqd.tablet-pull-4,
			:lang(ur).joqd.tablet-pull-4,
			:lang(ps).joqd.tablet-pull-4,
			:lang(sd).joqd.tablet-pull-4{left: 33.33333%;}

			:lang(en).joqd.tablet-pull-4,
			:lang(fr).joqd.tablet-pull-4,
			:lang(de).joqd.tablet-pull-4,
			:lang(es).joqd.tablet-pull-4{right: 33.33333%;}

			:lang(fa).joqd.tablet-pull-5,
			:lang(ar).joqd.tablet-pull-5,
			:lang(ku).joqd.tablet-pull-5,
			:lang(ur).joqd.tablet-pull-5,
			:lang(ps).joqd.tablet-pull-5,
			:lang(sd).joqd.tablet-pull-5{left: 41.66667%;}

			:lang(en).joqd.tablet-pull-5,
			:lang(fr).joqd.tablet-pull-5,
			:lang(de).joqd.tablet-pull-5,
			:lang(es).joqd.tablet-pull-5{right: 41.66667%;}

			:lang(fa).joqd.tablet-pull-6,
			:lang(ar).joqd.tablet-pull-6,
			:lang(ku).joqd.tablet-pull-6,
			:lang(ur).joqd.tablet-pull-6,
			:lang(ps).joqd.tablet-pull-6,
			:lang(sd).joqd.tablet-pull-6{left: 50%;}

			:lang(en).joqd.tablet-pull-6,
			:lang(fr).joqd.tablet-pull-6,
			:lang(de).joqd.tablet-pull-6,
			:lang(es).joqd.tablet-pull-6{right: 50%;}

			:lang(fa).joqd.tablet-pull-7,
			:lang(ar).joqd.tablet-pull-7,
			:lang(ku).joqd.tablet-pull-7,
			:lang(ur).joqd.tablet-pull-7,
			:lang(ps).joqd.tablet-pull-7,
			:lang(sd).joqd.tablet-pull-7{left: 58.33333%;}

			:lang(en).joqd.tablet-pull-7,
			:lang(fr).joqd.tablet-pull-7,
			:lang(de).joqd.tablet-pull-7,
			:lang(es).joqd.tablet-pull-7{right: 58.33333%;}

			:lang(fa).joqd.tablet-pull-8,
			:lang(ar).joqd.tablet-pull-8,
			:lang(ku).joqd.tablet-pull-8,
			:lang(ur).joqd.tablet-pull-8,
			:lang(ps).joqd.tablet-pull-8,
			:lang(sd).joqd.tablet-pull-8{left: 66.66667%;}

			:lang(en).joqd.tablet-pull-8,
			:lang(fr).joqd.tablet-pull-8,
			:lang(de).joqd.tablet-pull-8,
			:lang(es).joqd.tablet-pull-8{right: 66.66667%;}

			:lang(fa).joqd.tablet-pull-9,
			:lang(ar).joqd.tablet-pull-9,
			:lang(ku).joqd.tablet-pull-9,
			:lang(ur).joqd.tablet-pull-9,
			:lang(ps).joqd.tablet-pull-9,
			:lang(sd).joqd.tablet-pull-9{left: 75%;}

			:lang(en).joqd.tablet-pull-9,
			:lang(fr).joqd.tablet-pull-9,
			:lang(de).joqd.tablet-pull-9,
			:lang(es).joqd.tablet-pull-9{right: 75%;}

			:lang(fa).joqd.tablet-pull-10,
			:lang(ar).joqd.tablet-pull-10,
			:lang(ku).joqd.tablet-pull-10,
			:lang(ur).joqd.tablet-pull-10,
			:lang(ps).joqd.tablet-pull-10,
			:lang(sd).joqd.tablet-pull-10{left: 83.33333%;}

			:lang(en).joqd.tablet-pull-10,
			:lang(fr).joqd.tablet-pull-10,
			:lang(de).joqd.tablet-pull-10,
			:lang(es).joqd.tablet-pull-10{right: 83.33333%;}

			:lang(fa).joqd.tablet-pull-11,
			:lang(ar).joqd.tablet-pull-11,
			:lang(ku).joqd.tablet-pull-11,
			:lang(ur).joqd.tablet-pull-11,
			:lang(ps).joqd.tablet-pull-11,
			:lang(sd).joqd.tablet-pull-11{left: 91.66667%;}

			:lang(en).joqd.tablet-pull-11,
			:lang(fr).joqd.tablet-pull-11,
			:lang(de).joqd.tablet-pull-11,
			:lang(es).joqd.tablet-pull-11{right: 91.66667%;}

      .joqd.hide-tablet{display: none;}

      .joqd.show-desktop{display: none;}

      .joqd.show-laptop{display: none;}

      .joqd.show-mobile{display: none;}

		}

	/*
	=============================================================================================
	# 2.4 Mobile
	---------------------------------------------------------------------------------------------
	*/

		@media screen and (max-width: 767px) {

			.joqd.container{max-width: auto;}

			.joqd.mobile-1{width: 8.33333%;}

			.joqd.mobile-2{width: 16.66667%;}

			.joqd.mobile-3{width: 25%;}

			.joqd.mobile-4{width: 33.33333%;}

			.joqd.mobile-5{width: 41.66667%;}

			.joqd.mobile-6{width: 50%;}

			.joqd.mobile-7{width: 58.33333%;}

			.joqd.mobile-8{width: 66.66667%;}

			.joqd.mobile-9{width: 75%;}

			.joqd.mobile-10{width: 83.33333%;}

			.joqd.mobile-11{width: 91.66667%;}

			.joqd.mobile-12{width: 100%;}

			:lang(fa).joqd.mobile-push-1,
			:lang(ar).joqd.mobile-push-1,
			:lang(ku).joqd.mobile-push-1,
			:lang(ur).joqd.mobile-push-1,
			:lang(ps).joqd.mobile-push-1,
			:lang(sd).joqd.mobile-push-1{right: 8.33333%;}

			:lang(en).joqd.mobile-push-1,
			:lang(fr).joqd.mobile-push-1,
			:lang(de).joqd.mobile-push-1,
			:lang(es).joqd.mobile-push-1{left: 8.33333%;}

			:lang(fa).joqd.mobile-push-2,
			:lang(ar).joqd.mobile-push-2,
			:lang(ku).joqd.mobile-push-2,
			:lang(ur).joqd.mobile-push-2,
			:lang(ps).joqd.mobile-push-2,
			:lang(sd).joqd.mobile-push-2{right: 16.66667%;}

			:lang(en).joqd.mobile-push-2,
			:lang(fr).joqd.mobile-push-2,
			:lang(de).joqd.mobile-push-2,
			:lang(es).joqd.mobile-push-2{left: 16.66667%;}

			:lang(fa).joqd.mobile-push-3,
			:lang(ar).joqd.mobile-push-3,
			:lang(ku).joqd.mobile-push-3,
			:lang(ur).joqd.mobile-push-3,
			:lang(ps).joqd.mobile-push-3,
			:lang(sd).joqd.mobile-push-3{right: 25%;}

			:lang(en).joqd.mobile-push-3,
			:lang(fr).joqd.mobile-push-3,
			:lang(de).joqd.mobile-push-3,
			:lang(es).joqd.mobile-push-3{left: 25%;}

			:lang(fa).joqd.mobile-push-4,
			:lang(ar).joqd.mobile-push-4,
			:lang(ku).joqd.mobile-push-4,
			:lang(ur).joqd.mobile-push-4,
			:lang(ps).joqd.mobile-push-4,
			:lang(sd).joqd.mobile-push-4{right: 33.33333%;}

			:lang(en).joqd.mobile-push-4,
			:lang(fr).joqd.mobile-push-4,
			:lang(de).joqd.mobile-push-4,
			:lang(es).joqd.mobile-push-4{left: 33.33333%;}

			:lang(fa).joqd.mobile-push-5,
			:lang(ar).joqd.mobile-push-5,
			:lang(ku).joqd.mobile-push-5,
			:lang(ur).joqd.mobile-push-5,
			:lang(ps).joqd.mobile-push-5,
			:lang(sd).joqd.mobile-push-5{right: 41.66667%;}

			:lang(en).joqd.mobile-push-5,
			:lang(fr).joqd.mobile-push-5,
			:lang(de).joqd.mobile-push-5,
			:lang(es).joqd.mobile-push-5{left: 41.66667%;}

			:lang(fa).joqd.mobile-push-6,
			:lang(ar).joqd.mobile-push-6,
			:lang(ku).joqd.mobile-push-6,
			:lang(ur).joqd.mobile-push-6,
			:lang(ps).joqd.mobile-push-6,
			:lang(sd).joqd.mobile-push-6{right: 50%;}

			:lang(en).joqd.mobile-push-6,
			:lang(fr).joqd.mobile-push-6,
			:lang(de).joqd.mobile-push-6,
			:lang(es).joqd.mobile-push-6{left: 50%;}

			:lang(fa).joqd.mobile-push-7,
			:lang(ar).joqd.mobile-push-7,
			:lang(ku).joqd.mobile-push-7,
			:lang(ur).joqd.mobile-push-7,
			:lang(ps).joqd.mobile-push-7,
			:lang(sd).joqd.mobile-push-7{right: 58.33333%;}

			:lang(en).joqd.mobile-push-7,
			:lang(fr).joqd.mobile-push-7,
			:lang(de).joqd.mobile-push-7,
			:lang(es).joqd.mobile-push-7{left: 58.33333%;}

			:lang(fa).joqd.mobile-push-8,
			:lang(ar).joqd.mobile-push-8,
			:lang(ku).joqd.mobile-push-8,
			:lang(ur).joqd.mobile-push-8,
			:lang(ps).joqd.mobile-push-8,
			:lang(sd).joqd.mobile-push-8{right: 66.66667%;}

			:lang(en).joqd.mobile-push-8,
			:lang(fr).joqd.mobile-push-8,
			:lang(de).joqd.mobile-push-8,
			:lang(es).joqd.mobile-push-8{left: 66.66667%;}

			:lang(fa).joqd.mobile-push-9,
			:lang(ar).joqd.mobile-push-9,
			:lang(ku).joqd.mobile-push-9,
			:lang(ur).joqd.mobile-push-9,
			:lang(ps).joqd.mobile-push-9,
			:lang(sd).joqd.mobile-push-9{right: 75%;}

			:lang(en).joqd.mobile-push-9,
			:lang(fr).joqd.mobile-push-9,
			:lang(de).joqd.mobile-push-9,
			:lang(es).joqd.mobile-push-9{left: 75%;}

			:lang(fa).joqd.mobile-push-10,
			:lang(ar).joqd.mobile-push-10,
			:lang(ku).joqd.mobile-push-10,
			:lang(ur).joqd.mobile-push-10,
			:lang(ps).joqd.mobile-push-10,
			:lang(sd).joqd.mobile-push-10{right: 83.33333%;}

			:lang(en).joqd.mobile-push-10,
			:lang(fr).joqd.mobile-push-10,
			:lang(de).joqd.mobile-push-10,
			:lang(es).joqd.mobile-push-10{left: 83.33333%;}

			:lang(fa).joqd.mobile-push-11,
			:lang(ar).joqd.mobile-push-11,
			:lang(ku).joqd.mobile-push-11,
			:lang(ur).joqd.mobile-push-11,
			:lang(ps).joqd.mobile-push-11,
			:lang(sd).joqd.mobile-push-11{right: 91.66667%;}

			:lang(en).joqd.mobile-push-11,
			:lang(fr).joqd.mobile-push-11,
			:lang(de).joqd.mobile-push-11,
			:lang(es).joqd.mobile-push-11{left: 91.66667%;}

			:lang(fa).joqd.mobile-pull-1,
			:lang(ar).joqd.mobile-pull-1,
			:lang(ku).joqd.mobile-pull-1,
			:lang(ur).joqd.mobile-pull-1,
			:lang(ps).joqd.mobile-pull-1,
			:lang(sd).joqd.mobile-pull-1{left: 8.33333%;}

			:lang(en).joqd.mobile-pull-1,
			:lang(fr).joqd.mobile-pull-1,
			:lang(de).joqd.mobile-pull-1,
			:lang(es).joqd.mobile-pull-1{right: 8.33333%;}

			:lang(fa).joqd.mobile-pull-2,
			:lang(ar).joqd.mobile-pull-2,
			:lang(ku).joqd.mobile-pull-2,
			:lang(ur).joqd.mobile-pull-2,
			:lang(ps).joqd.mobile-pull-2,
			:lang(sd).joqd.mobile-pull-2{left: 16.66667%;}

			:lang(en).joqd.mobile-pull-2,
			:lang(fr).joqd.mobile-pull-2,
			:lang(de).joqd.mobile-pull-2,
			:lang(es).joqd.mobile-pull-2{right: 16.66667%;}

			:lang(fa).joqd.mobile-pull-3,
			:lang(ar).joqd.mobile-pull-3,
			:lang(ku).joqd.mobile-pull-3,
			:lang(ur).joqd.mobile-pull-3,
			:lang(ps).joqd.mobile-pull-3,
			:lang(sd).joqd.mobile-pull-3{left: 25%;}

			:lang(en).joqd.mobile-pull-3,
			:lang(fr).joqd.mobile-pull-3,
			:lang(de).joqd.mobile-pull-3,
			:lang(es).joqd.mobile-pull-3{right: 25%;}

			:lang(fa).joqd.mobile-pull-4,
			:lang(ar).joqd.mobile-pull-4,
			:lang(ku).joqd.mobile-pull-4,
			:lang(ur).joqd.mobile-pull-4,
			:lang(ps).joqd.mobile-pull-4,
			:lang(sd).joqd.mobile-pull-4{left: 33.33333%;}

			:lang(en).joqd.mobile-pull-4,
			:lang(fr).joqd.mobile-pull-4,
			:lang(de).joqd.mobile-pull-4,
			:lang(es).joqd.mobile-pull-4{right: 33.33333%;}

			:lang(fa).joqd.mobile-pull-5,
			:lang(ar).joqd.mobile-pull-5,
			:lang(ku).joqd.mobile-pull-5,
			:lang(ur).joqd.mobile-pull-5,
			:lang(ps).joqd.mobile-pull-5,
			:lang(sd).joqd.mobile-pull-5{left: 41.66667%;}

			:lang(en).joqd.mobile-pull-5,
			:lang(fr).joqd.mobile-pull-5,
			:lang(de).joqd.mobile-pull-5,
			:lang(es).joqd.mobile-pull-5{right: 41.66667%;}

			:lang(fa).joqd.mobile-pull-6,
			:lang(ar).joqd.mobile-pull-6,
			:lang(ku).joqd.mobile-pull-6,
			:lang(ur).joqd.mobile-pull-6,
			:lang(ps).joqd.mobile-pull-6,
			:lang(sd).joqd.mobile-pull-6{left: 50%;}

			:lang(en).joqd.mobile-pull-6,
			:lang(fr).joqd.mobile-pull-6,
			:lang(de).joqd.mobile-pull-6,
			:lang(es).joqd.mobile-pull-6{right: 50%;}

			:lang(fa).joqd.mobile-pull-7,
			:lang(ar).joqd.mobile-pull-7,
			:lang(ku).joqd.mobile-pull-7,
			:lang(ur).joqd.mobile-pull-7,
			:lang(ps).joqd.mobile-pull-7,
			:lang(sd).joqd.mobile-pull-7{left: 58.33333%;}

			:lang(en).joqd.mobile-pull-7,
			:lang(fr).joqd.mobile-pull-7,
			:lang(de).joqd.mobile-pull-7,
			:lang(es).joqd.mobile-pull-7{right: 58.33333%;}

			:lang(fa).joqd.mobile-pull-8,
			:lang(ar).joqd.mobile-pull-8,
			:lang(ku).joqd.mobile-pull-8,
			:lang(ur).joqd.mobile-pull-8,
			:lang(ps).joqd.mobile-pull-8,
			:lang(sd).joqd.mobile-pull-8{left: 66.66667%;}

			:lang(en).joqd.mobile-pull-8,
			:lang(fr).joqd.mobile-pull-8,
			:lang(de).joqd.mobile-pull-8,
			:lang(es).joqd.mobile-pull-8{right: 66.66667%;}

			:lang(fa).joqd.mobile-pull-9,
			:lang(ar).joqd.mobile-pull-9,
			:lang(ku).joqd.mobile-pull-9,
			:lang(ur).joqd.mobile-pull-9,
			:lang(ps).joqd.mobile-pull-9,
			:lang(sd).joqd.mobile-pull-9{left: 75%;}

			:lang(en).joqd.mobile-pull-9,
			:lang(fr).joqd.mobile-pull-9,
			:lang(de).joqd.mobile-pull-9,
			:lang(es).joqd.mobile-pull-9{right: 75%;}

			:lang(fa).joqd.mobile-pull-10,
			:lang(ar).joqd.mobile-pull-10,
			:lang(ku).joqd.mobile-pull-10,
			:lang(ur).joqd.mobile-pull-10,
			:lang(ps).joqd.mobile-pull-10,
			:lang(sd).joqd.mobile-pull-10{left: 83.33333%;}

			:lang(en).joqd.mobile-pull-10,
			:lang(fr).joqd.mobile-pull-10,
			:lang(de).joqd.mobile-pull-10,
			:lang(es).joqd.mobile-pull-10{right: 83.33333%;}

			:lang(fa).joqd.mobile-pull-11,
			:lang(ar).joqd.mobile-pull-11,
			:lang(ku).joqd.mobile-pull-11,
			:lang(ur).joqd.mobile-pull-11,
			:lang(ps).joqd.mobile-pull-11,
			:lang(sd).joqd.mobile-pull-11{left: 91.66667%;}

			:lang(en).joqd.mobile-pull-11,
			:lang(fr).joqd.mobile-pull-11,
			:lang(de).joqd.mobile-pull-11,
			:lang(es).joqd.mobile-pull-11{right: 91.66667%;}

      .joqd.hide-mobile{display: none;}

      .joqd.show-desktop{display: none;}

      .joqd.show-laptop{display: none;}

      .joqd.show-tablet{display: none;}

		}
