/*
=================================================================================================
# 9 Helpers
-------------------------------------------------------------------------------------------------
*/

	/*
	=============================================================================================
	# 9.1 Alignments
	---------------------------------------------------------------------------------------------
	*/

		.joqd.align-top{vertical-align: top;}

		.joqd.align-middle{vertical-align: middle;}

		.joqd.align-bottom{vertical-align: bottom;}

		.joqd.align-right{text-align: right;}

		.joqd.align-center{text-align: center;}

		.joqd.align-left{text-align: left;}
