
/*
=================================================================================================
# 13 Navigations
-------------------------------------------------------------------------------------------------
*/

	/*
	=============================================================================================
	# 13.1 Navbar
	---------------------------------------------------------------------------------------------
	*/

		nav.joqd.navbar{
			top: 0px; right: 0px;
			width: 100%;
			z-index: 99997;}

		nav.joqd.navbar .joqd.sandwich{float: right;}

		nav.joqd.navbar .joqd.sandwich i{
			cursor: pointer;
			padding: 16px 24px;
			-webkit-transition: all 0.2s ease-out;
				 -moz-transition: all 0.2s ease-out;
					 -o-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;}

		nav.joqd.navbar .joqd.logo{
			float: left;
			display: inline-block;}


		nav.joqd.navbar .joqd.logo a{padding: 0px 24px;}

		nav.joqd.navbar .joqd.logo a img{
			height: 100%;
			width: auto;}

		nav.joqd.navbar ul.navbar-content{
			float: right;
			list-style: none;
			margin: 0px;
			padding: 0px;
			z-index: 99999;}

		nav.joqd.navbar ul.navbar-content li{
			float: right;
			height: 100%;
			display: table;}

		nav.joqd.navbar ul.navbar-content li a{
			display: table-cell;
			vertical-align: middle;
			line-height: 1;
			-webkit-transition: all 0.2s ease-out;
				 -moz-transition: all 0.2s ease-out;
					 -o-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;}

		/*nav.joqd.navbar ul li.has-dropdown{position: relative;}

		nav.joqd.navbar ul li.has-dropdown ul.stack{
			position: absolute;
			right: 0px;
			top: 100%;
			width: 150%;
			display: none}

		nav.joqd.navbar ul li.has-dropdown:hover ul.stack{display: block}*/

    /*
		=========================================================================================
		# 13.1.1 Positioning
		-----------------------------------------------------------------------------------------
		*/

			/*
			=====================================================================================
			# 13.1.1.1 Static
			-------------------------------------------------------------------------------------
			*/

				nav.joqd.navbar{position: absolute;}

			/*
			=====================================================================================
			# 13.1.1.2 Sticky
			-------------------------------------------------------------------------------------
			*/

				nav.joqd.navbar.sticky-navbar{position: fixed;}

	    /*
		=========================================================================================
		# 13.1.2 Sizings
		-----------------------------------------------------------------------------------------
		*/

			/*
			=====================================================================================
			# 13.1.2.1 Thin
			-------------------------------------------------------------------------------------
			*/

				nav.joqd.navbar.thin-navbar{font-size: 16px;}

				nav.joqd.navbar.thin-navbar .joqd.logo{
					padding: 10px 0px;
					height: 48px;}

				nav.joqd.navbar.thin-navbar ul.navbar-content{
			    height: 48px;
		    	font-size: 16px;}

		    nav.joqd.navbar.thin-navbar ul.navbar-content li a{padding: 12px 20px;}

			/*
			=====================================================================================
			# 13.1.2.1 Thick
			-------------------------------------------------------------------------------------
			*/

				nav.joqd.navbar.thick-navbar{font-size: 30px;}

				nav.joqd.navbar.thick-navbar .joqd.logo{
					padding: 12px 0px;
					height: 62px;}

				nav.joqd.navbar.thick-navbar ul.navbar-content{
			    height: 62px;
		    	font-size: 30px;}

				nav.joqd.navbar.thick-navbar ul.navbar-content li a{padding: 14px 20px;}

	/*
	=============================================================================================
	# 13.2 Navside
	---------------------------------------------------------------------------------------------
	*/

		nav.joqd.navside{
			height: 100vh;
			z-index: 99999;
			overflow-y: auto;;
			-webkit-box-shadow: 0px 2px 5px  0px rgba(0, 0, 0, 0.16),
													0px 2px 10px 0px rgba(0, 0, 0, 0.12);
				 -moz-box-shadow: 0px 2px 5px  0px rgba(0, 0, 0, 0.16),
													0px 2px 10px 0px rgba(0, 0, 0, 0.12);
							box-shadow: 0px 2px 5px  0px rgba(0, 0, 0, 0.16),
													0px 2px 10px 0px rgba(0, 0, 0, 0.12);}

		nav.joqd.navside .joqd.navside-container{min-height: 100vh; width: 100%;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-header{position: relative;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-header .joqd.close-navside{
			position: absolute;
			top: 0px; right: 0px;
			padding: 18px 24px;
			cursor: pointer;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-header .joqd.navside-title{
			position: absolute;
			bottom: 0px; right: 0px;
			width: 100%;
			padding: 34px 24px;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-header .joqd.search{
			position: absolute;
			top: 0px; left: 0px;
			padding: 26px;
			cursor: pointer;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-body{padding-top: 12px;}

		nav.joqd.navside a{text-decoration: none;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-body ul.joqd.stack{
			margin: 0px;
			padding: 0px;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-body ul.joqd.stack li{width: 100%;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-body ul.joqd.stack li .primary-action{
			display: block;
			padding: 8px 16px;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-body ul.joqd.stack li .primary-action{
			display: block;
			font-weight: bold;
			padding: 12px 16px;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-body ul.joqd.stack li ul.joqd.stack{display: none;}

		nav.joqd.navside .joqd.navside-container .joqd.navside-body ul.joqd.stack li ul.joqd.stack li .secondary-action{
			display: block;
			font-weight: lighter;
			font-size: 90%;
			padding: 6px 24px;}

		#navsideTempWrapper{
			position: fixed;
			top: 0px; right: 0px;
			height: 100vh; width: 100vw;
			z-index: 99998;
			background-color: black;
			display: none;
			opacity: 0;}

		/*
		=========================================================================================
		# 13.2.1 Positioning
		-----------------------------------------------------------------------------------------
		*/

			/*
			=====================================================================================
			# 13.2.1.1 Static
			-------------------------------------------------------------------------------------
			*/

				nav.joqd.navside.static-navside{
					position: fixed;
					top: 0px; right: 0px;}

			/*
			=====================================================================================
			# 13.2.1.2 Dynamic
			-------------------------------------------------------------------------------------
			*/

				nav.joqd.navside.dynamic-navside{
					position: fixed;
					top: 0px; right: -100%;}
