
/*
=================================================================================================
# 21 Table
-------------------------------------------------------------------------------------------------
*/

  .joqd.table-container{overflow-x: auto;}

  table{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;}

  table tr th,
  table tr td{
    padding: 12px;
    white-space: nowrap;}

  table td{font-size: 14px;}
