/*
=================================================================================================
# 17 Tabs
-------------------------------------------------------------------------------------------------
*/

  /*
  =============================================================================================
  # 17.1 Tab-Links
  ---------------------------------------------------------------------------------------------
  */

    .joqd.tab ul.tab-links{
      margin: 0px;
      padding: 0px;
      list-style: outside none none;}

    .joqd.tab ul.tab-links li{padding: 0px;}

    .joqd.tab ul.tab-links li a{
      display: block;
      width: 100%; height: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      text-decoration: none;
      outline: none;
      text-align: center;
      padding: 12px;
  		-webkit-transition: all 0.2s ease-out 0s;
  		   -moz-transition: all 0.2s ease-out 0s;
  		     -o-transition: all 0.2s ease-out 0s;
  						transition: all 0.2s ease-out 0s;}

      .joqd.tab ul.tab-links li a.disabled{cursor: default;}

  /*
  =============================================================================================
  # 17.2 Tab-Contents
  ---------------------------------------------------------------------------------------------
  */

    .joqd.tab .joqd.tab-contents > div{display: none;}

    .joqd.tab .joqd.tab-contents > div.joqd.active{display: block}
