/*
=================================================================================================
# 1 Typography
-------------------------------------------------------------------------------------------------
*/

	/*
	=============================================================================================
	# 1.1 Declarations
	---------------------------------------------------------------------------------------------
	*/

		@charset "UTF-8";

		@font-face{
			font-family: Vazir;
			src: url('../fonts/Vazir/Vazir.eot');
			src: url('../fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'),
				   url('../fonts/Vazir/Vazir.woff') format('woff'),
				   url('../fonts/Vazir/Vazir.ttf') format('truetype');
			font-weight: normal;}

		@font-face{
			font-family: Vazir;
			src: url('../fonts/Vazir/Vazir-Bold.eot');
			src: url('../fonts/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
				   url('../fonts/Vazir/Vazir-Bold.woff') format('woff'),
				   url('../fonts/Vazir/Vazir-Bold.ttf') format('truetype');
			font-weight: bold;}

			@font-face{
				font-family: Roboto;
				src: url('../fonts/Roboto/Roboto-Regular.eot');
				src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
						 url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
						 url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
				font-weight: normal;}

			@font-face{
				font-family: Roboto;
				src: url('../fonts/Roboto/Roboto-Bold.eot');
				src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
						 url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
						 url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
				font-weight: bold;}

	/*
	=============================================================================================
	# 1.2 Directions
	---------------------------------------------------------------------------------------------
	*/

		/*
		=========================================================================================
		# 1.2.1 Right to Left
		-----------------------------------------------------------------------------------------
		*/

			:lang(fa),
			:lang(ar),
			:lang(ku),
			:lang(ur),
			:lang(ps),
			:lang(sd){
				direction: rtl;
				font-family: Tahoma;}

			:lang(fa),
			:lang(ar){font-family: 'Vazir', Tahoma;}

		/*
		=========================================================================================
		# 1.2.2 Left to Right
		-----------------------------------------------------------------------------------------
		*/

			:lang(en),
			:lang(fr),
			:lang(de),
			:lang(es){
				direction: ltr;
				font-family: 'roboto', sans-serif, arial;}

	/*
	=============================================================================================
	# 1.3 Styles
	---------------------------------------------------------------------------------------------
	*/

		/*
		=========================================================================================
		# 1.3.1 Headings
		-----------------------------------------------------------------------------------------
		*/

			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			.joqd.h1,
			.joqd.h2,
			.joqd.h3,
			.joqd.h4,
			.joqd.h5,
			.joqd.h6{
				font-family: inherit;
				line-height: 1.1;
				color: inherit;}

			h1,
			.h1{
				font-size: 36px;
				font-weight: 700;}

			h2,
			.h2{
				font-size: 30px;
				font-weight: 600;}

			h3,
			.h3{
				font-size: 24px;
				font-weight: 500;}

			h4,
			.h4{
				font-size: 18px;
				font-weight: 500;}

			h5,
			.h5{
				font-size: 14px;
				font-weight: 500;}

			h6,
			.h6{
				font-size: 12px;
				font-weight: 500;}

			h1 small,
			h2 small,
			h3 small,
			h4 small,
			h5 small,
			h6 small,
			.joqd.h1 small,
			.joqd.h2 small,
			.joqd.h3 small,
			.joqd.h4 small,
			.joqd.h5 small,
			.joqd.h6 small{
				font-size: 65%;
				font-weight: 400;
				line-height: 1;
				opacity: 0.55;}

		/*
		=========================================================================================
		# 1.3.2 Paragraphs
		-----------------------------------------------------------------------------------------
		*/

			p{
				font-weight: 400;
				font-size: 14px;
				line-height: 1.428;
				margin: 0px 0px 10px;}

		/*
		=========================================================================================
		# 1.3.3 Quotations
		-----------------------------------------------------------------------------------------
		*/

			:lang(fa) q,
			:lang(ar) q,
			:lang(ur) q{quotes: "«" "»" "«" "»";}

			:lang(en) q{quotes: '“' '”' '‘' '’';}

			:lang(de) q{quotes: '„' '“';}

			:lang(fr) q{quotes: '« ' ' »' '‹ ' ' ›';}

			q:before{content: open-quote;}

			q:after{content: close-quote;}

		/*
		=========================================================================================
		# 1.3.4 Small Texts
		-----------------------------------------------------------------------------------------
		*/

			small,
			.joqd.small{font-size: 85%;}

		/*
		=========================================================================================
		# 1.3.5 Links
		-----------------------------------------------------------------------------------------
		*/

			a.joqd.link{
				text-decoration: none;
				outline: none;}
